---
import MenuFooterSocialLinks from "./MenuFooterSocialLinks.astro";
import MenuFooterLanguage from "./MenuFooterLanguage.astro";
---

<div class="w-full flex items-center justify-between">
    <MenuFooterSocialLinks />
    <MenuFooterLanguage />
</div>