---

import HeaderBrand from "./HeaderBrand.astro";
import HeaderMenuTrigger from "./HeaderMenuTrigger.astro";
import Menu from "./menu/Menu.astro";
import HeaderLinks from "./links/HeaderLinks.astro";
import HeaderLanguage from "./language/HeaderLanguage.astro";
import "./Header.css"

const {menuActiveItem: activeItem} = Astro.props;
---

{/*Label is defined inside component <HeaderMenuTrigger /> */}
<input id="menustate" type="checkbox" hidden />

<header class="fixed z-50 top-0 left-0 right-0 bg-white lg:bg-transparent">
    <div class="w-full h-[96px] md:h-[120px] pl-12 pr-12 flex items-center">

        <HeaderMenuTrigger />

        <HeaderBrand />

        <HeaderLinks />

        <HeaderLanguage />

    </div>
</header>

<Menu activeItem={activeItem} />

<main class="min-h-screen w-full">

</main>