
<div class="header-menu-trigger-box flex justify-center items-center ml-6 xl:ml-0 order-1 xl:order-1 md:order-last sm:order-last max-sm:order-last">
        <button class="header-menu-button-trigger" aria-label="Toggle menu">
            <!-- Open Icon -->
            <label for="menustate" class="label-icon-open block cursor-pointer">
                <span class="header-button-icon icon-open">
                    <svg width="38" height="38" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5 17.125C13.5 16.5156 13.9688 16 14.625 16L33.375 16C33.9844 16 34.5 16.5156 34.5 17.125C34.5 17.7812 33.9844 18.25 33.375 18.25L14.625 18.25C13.9688 18.25 13.5 17.7812 13.5 17.125ZM13.5 24.625C13.5 24.0156 13.9688 23.5 14.625 23.5L33.375 23.5C33.9844 23.5 34.5 24.0156 34.5 24.625C34.5 25.2812 33.9844 25.75 33.375 25.75L14.625 25.75C13.9688 25.75 13.5 25.2812 13.5 24.625ZM34.5 32.125C34.5 32.7812 33.9844 33.25 33.375 33.25H14.625C13.9688 33.25 13.5 32.7812 13.5 32.125C13.5 31.5156 13.9688 31 14.625 31L33.375 31C33.9844 31 34.5 31.5156 34.5 32.125Z" fill="#6C6C6C"/>
                    </svg>
                </span>
            </label>
            <!-- Close Icon -->
            <label for="menustate" class="label-icon-close hidden cursor-pointer">
                <span class="header-button-icon icon-close">
                    <svg width="38" height="38" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.4219 14.8281L24 23.4531L32.5781 14.875C33 14.4062 33.7031 14.4062 34.1719 14.875C34.5938 15.2969 34.5938 16 34.1719 16.4219L25.5469 25.0469L34.125 33.625C34.5938 34.0469 34.5938 34.75 34.125 35.1719C33.7031 35.6406 33 35.6406 32.5781 35.1719L23.9531 26.5938L15.375 35.1719C14.9531 35.6406 14.25 35.6406 13.8281 35.1719C13.3594 34.75 13.3594 34.0469 13.8281 33.5781L22.4062 25L13.8281 16.4219C13.3594 16 13.3594 15.2969 13.8281 14.8281C14.25 14.4062 14.9531 14.4062 15.4219 14.8281Z" fill="#2D1D10"/>
                    </svg>
                </span>
            </label>
        </button>
</div>