---
const {class: className='', src='', alt=''} = Astro.props;
---

<div class={`${className} w-full max-w-full h-[50vh] lg:h-screen bg-[#e9e9eb]`}>
    <img
            class="w-full h-full object-center object-cover"
            src={src}
            alt={alt}
    />
</div>

<slot />